{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero-section d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-12 mx-auto">
                {% for message in messages %}
                    <div class="alert alert-warning">
                        <a class="close" href="#" data-dismiss ="alert">x</a>
                        {{ message }}
                    </div>
                {% endfor %}
                <form class="custom-form" role="form" method="post" action="{% url 'password_reset' %}">
                    {% csrf_token %}
                    <h2 class="hero-title text-center mb-4 pb-2">Change your Password</h2>

                    <div class="form-floating mt-4">
                        <input type="password" name="password" id="password" pattern="[0-9a-zA-Z]{4,10}" class="form-control" placeholder="Password" required />

                        <label for="password">New Password</label>
                    </div>

                    <div class="form-floating">
                        <input type="password" name="confirm_password" id="confirm_password" pattern="[0-9a-zA-Z]{4,10}" class="form-control" placeholder="Password" required />

                        <label for="confirm_password">Confirm Password</label>
                    </div>

                    <div class="row">
                        <div class="col-lg-5 col-12 mx-auto">
                            <button type="submit" class="form-control">Submit</button>
                        </div>
                    </div>

                </form>
                
            </div>
        </div>
    </div>

    <div class="video-wrap">
        <video autoplay="" loop="" muted="" class="custom-video" poster="">
            <source src="{% static 'videos/video.mp4' %}" type="video/mp4">

            Your browser does not support the video tag.
        </video>
    </div>
</section>
{% endblock %}